<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}add pageele{% endblock %}</title>
{#    <link rel="stylesheet" href="/static/css1/selfstyle.css">#}
{#    <link rel="stylesheet" href="{% static 'css1/style1.css' %}">#}
    <link rel="stylesheet" href="{% static 'css1/style2.css' %}">
</head>
<body>
<form action={% block formurl %}"{% url 'pageele:page_ele_id' pageele.id %}"{% endblock %} method="post" class="smart-green">
	<div >
        <h1>添加数据
            <span>
                    {% if errmsg  %}
                        <div class="error-msg">{{ errmsg }}</div>
                    {% else %}
                        <div class="success-msg">{{ sumsg }}</div>
                    {% endif %}
            </span>
        </h1>
    </div>
    <div class="kongbai"></div>
    <div class="tabledata">
        {% block table %}
            <table cellpadding="5" cellspacing="5">
                <tr>
                    <td>
                        <label>web项目:</label>
                    </td>
                    <td>
                        <input id="web_project" name="web_project" type="text" value="{{ pageele.web_project }}"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>web模块:</label>
                    </td>
                    <td>
                        <input id="web_module" name="web_module" type="text" value="{{ pageele.web_module }}"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>元素页面:</label>
                    </td>
                    <td>
                        <input id="ele_page" name="ele_page" type="text" value="{{ pageele.ele_page }}"/>
                    </td>
                </tr>

    {#            <tr>#}
    {#                <td>#}
    {#                    <label>功能点:</label>#}
    {#                </td>#}
    {#                <td>#}
    {#                    <textarea id="requirement_function" name="requirement_function"> {{ testcase.requirement_function }}</textarea>#}
    {#                </td>#}
    {#            </tr>#}

    {#            <tr>#}
    {#                <td>#}
    {#                    <label>用例优先级:</label>#}
    {#                </td>#}
    {#                <td>#}
    {#                    <input type="radio"  name="case_priority" value="P0" {% if testcase.case_priority == 'P0' %}checked="checked"{% endif %}>冒烟用例#}
    {#                    <input type="radio" name="case_priority"   value="P1" {% if testcase.case_priority  == 'P1' %}checked="checked"{% endif %}>系统的重要功能用例#}
    {#                    <input type="radio"  name="case_priority"  value="P2" {% if testcase.case_priority == 'P2' %}checked="checked"{% endif %}>系统的一般功能用例#}
    {#                    <input type="radio" name="case_priority"   value="P3" {% if testcase.case_priority  == 'P3' %}checked="checked"{% endif %}>极低级别的用例#}
    {#                </td>#}
    {#            </tr>#}

    {#            <tr>#}
    {#                <td>#}
    {#                    <label>流程类型:</label>#}
    {#                </td>#}
    {#                <td>#}
    {#                    <input type="radio"  name="case_process_type" value="normal" {% if testcase.case_process_type == 'normal' %}checked="checked"{% endif %}>正常流#}
    {#                    <input type="radio" name="case_process_type"   value="unusual" {% if testcase.case_process_type  == 'unusual' %}checked="checked"{% endif %}>异常流#}
    {#                </td>#}
    {#            </tr>#}

                <tr>
                    <td>
                        <label>元素页面URL:</label>
                    </td>
                    <td>
                        <input id="ele_page_url" name="ele_page_url" type="text" value="{{ pageele.ele_page_url }}"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>元素名字:</label>
                    </td>
                    <td>
                        <textarea id="ele_name" name="ele_name">{{ pageele.ele_name }}</textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>元素xpath路径:</label>
                    </td>
                    <td>
                        <textarea id="ele_xpath" name="ele_xpath">{{ pageele.ele_xpath }}</textarea>
                    </td>
                </tr>

    {#            <tr>#}
    {#                <td>#}
    {#                    <label>测试用例预期结果:</label>#}
    {#                </td>#}
    {#                <td>#}
    {#                    <textarea id="case_expected_result" name="case_expected_result"> {{ testcase.case_expected_result }}</textarea>#}
    {#                </td>#}
    {#            </tr>#}
    {##}
    {#            <tr>#}
    {#                <td>#}
    {#                    <label>编写备注:</label>#}
    {#                </td>#}
    {#                <td>#}
    {#                    <textarea id="write_comments" name="write_comments"> {{ testcase.write_comments }}</textarea>#}
    {#                </td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td>#}
    {#                    <label>编写人员:</label>#}
    {#                </td>#}
    {#                <td>#}
    {#                    <input id="write_user" name="write_user"  type="text" readonly="readonly"  value="{{ testcase.write_user|default:'' }}"/>#}
    {#                </td>#}
    {#            </tr>#}
            </table>
        {% endblock %}
        <br/>
	</div>
    <div class="kongbai">
    </div>

    <div class="box2">
        <div class="box2button">
            <input type="submit" class="button"  value="新增加一条数据"/>
        </div>
        <div class="box2a">
            <a href={% block backlist %}'http://127.0.0.1:8000/xadmin/pageelement/pageele/'{% endblock %}>返回数据列表页</a>
        </div>
    </div>

    {% csrf_token %} <!--保证form表提交，是一种安全机制-->
</form>


{#{% block custom_js %}  <!--此处是处理"我要学习"表单的js-->#}
{#<script>#}
{#    $(function(){#}
{#        $('#jsStayBtn').on('click', function(){   <!--用户店家按钮操作函数-->#}
{#            $.ajax({#}
{#                cache: false,#}
{#                type: "POST",#}
{#                url:"{% url "testcase:add_ask" %}",#}
{#                data:$('#jsStayForm').serialize(),#}
{#                async: true,#}
{#                success: function(data) {#}
{#                    if(data.status == 'success'){ <!--如果提交成功，则弹框提示提交成功-->#}
                        {#$('#jsStayForm')[0].reset();#}
{#                        alert("提交成功")#}
{#                    }else if(data.status == 'fail'){<!--如果提交失败，则返回错误信息-->#}
                        {#$('#jsCompanyTips').html(data.msg)#}
{#                        alert("提交失败")#}
{#                    }#}
{#                },#}
{#            });#}
{#        });#}
{#    })#}
{#</script>#}
{#{% endblock %}   <!--此处可以重写js-->#}
</body>
</html>